/bootstrap/compiled.php
.env.*.php
.env.php
*.sublime-project
*.sublime-workspace
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
Music-XML-Analyzer.iml
*.project
